In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os
import seaborn as sb

%matplotlib inline

In [2]:
path = r'./CSV/'
all_files = glob.glob(os.path.join(path, "*.csv"))
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index = True)
df.to_csv('master_data.csv', index=False)

/home/akshay/SoftwaresByNet/Anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  This is separate from the ipykernel package so we can avoid doing imports until
/home/akshay/SoftwaresByNet/Anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DtypeWarning: Columns (13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  This is separate from the ipykernel package so we can avoid doing imports until
/home/akshay/SoftwaresByNet/Anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  This is separate from the ipykernel package so we can avoid doing imports until

In [2]:
df = pd.read_csv('master_data.csv')
df.info(null_counts=True)

/home/akshay/SoftwaresByNet/Anaconda/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2506983 entries, 0 to 2506982
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   duration_sec             2506983 non-null  int64
 1   start_time               2506983 non-null  object
 2   end_time                 2506983 non-null  object
 3   start_station_id         2426249 non-null  float64
 4   start_station_name       2426850 non-null  object
 5   start_station_latitude   2506983 non-null  float64
 6   start_station_longitude  2506983 non-null  float64
 7   end_station_id           2424081 non-null  float64
 8   end_station_name         2424633 non-null  object
 9   end_station_latitude     2506983 non-null  float64
 10  end_station_longitude    2506983 non-null  float64
 11  bike_id                  2506983 non-null  int64
 12  user_type                2506983 non-null  object
 13  bike_share_for_all_trip  2263724 non-null  object
 14  rental_access_method     120838 non-null   object
dtypes: float64(6), int64(2), object(7)
memory usage: 286.9+ MB

In [8]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2506983 entries, 0 to 2506982
Data columns (total 14 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   duration_sec             2506983 non-null  int64
 1   start_time               2506983 non-null  object
 2   end_time                 2506983 non-null  object
 3   start_station_id         2426249 non-null  float64
 4   start_station_name       2426850 non-null  object
 5   start_station_latitude   2506983 non-null  float64
 6   start_station_longitude  2506983 non-null  float64
 7   end_station_id           2424081 non-null  float64
 8   end_station_name         2424633 non-null  object
 9   end_station_latitude     2506983 non-null  float64
 10  end_station_longitude    2506983 non-null  float64
 11  bike_id                  2506983 non-null  int64
 12  user_type                2506983 non-null  object
 13  bike_share_for_all_trip  2263724 non-null  object
dtypes: float64(6), int64(2), object(6)
memory usage: 267.8+ MB

In [10]:
df.drop(['bike_share_for_all_trip'], axis=1, inplace=True);

In [11]:
# df.dropna(inplace=True)
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2506983 entries, 0 to 2506982
Data columns (total 13 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   duration_sec             2506983 non-null  int64
 1   start_time               2506983 non-null  object
 2   end_time                 2506983 non-null  object
 3   start_station_id         2426249 non-null  float64
 4   start_station_name       2426850 non-null  object
 5   start_station_latitude   2506983 non-null  float64
 6   start_station_longitude  2506983 non-null  float64
 7   end_station_id           2424081 non-null  float64
 8   end_station_name         2424633 non-null  object
 9   end_station_latitude     2506983 non-null  float64
 10  end_station_longitude    2506983 non-null  float64
 11  bike_id                  2506983 non-null  int64
 12  user_type                2506983 non-null  object
dtypes: float64(6), int64(2), object(5)
memory usage: 248.6+ MB

In [6]:
df.to_csv('master_file_mk1.csv', index=False)

In [12]:
df_clean = df.copy()
# convert object type to datetime in 
df_clean.start_time = pd.to_datetime(df_clean.start_time)
df_clean.end_time = pd.to_datetime(df_clean.end_time)
# extract start time month name
df_clean['start_time_month'] = df_clean['start_time'].dt.strftime('%B')
# # extract start time weekdays
# df_clean['start_time_weekday'] = df_clean['start_time'].dt.strftime('%a')
# # extract start time day
# df_clean['start_time_day'] = df_clean['start_time'].dt.day.astype(int)
# # extract start and time hour
# df_clean['start_time_hour'] = df_clean['start_time'].dt.hour
# df_clean['end_time_hour'] = df_clean['end_time'].dt.hour

In [13]:
df_clean['start_time_month'].unique()

array(['June', 'July', 'December', 'January', 'February', 'September',
       'October', 'April', 'May', 'March', 'November', 'August'],
      dtype=object)

In [14]:
df_dec = df_clean.query("start_time_month == 'December'");
df_dec.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150102 entries, 449874 to 599975
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             150102 non-null  int64
 1   start_time               150102 non-null  datetime64[ns]
 2   end_time                 150102 non-null  datetime64[ns]
 3   start_station_id         129083 non-null  float64
 4   start_station_name       129087 non-null  object
 5   start_station_latitude   150102 non-null  float64
 6   start_station_longitude  150102 non-null  float64
 7   end_station_id           128755 non-null  float64
 8   end_station_name         128757 non-null  object
 9   end_station_latitude     150102 non-null  float64
 10  end_station_longitude    150102 non-null  float64
 11  bike_id                  150102 non-null  int64
 12  user_type                150102 non-null  object
 13  start_time_month         150102 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(2), object(4)
memory usage: 17.2+ MB

In [19]:
df_clean.dropna(inplace=True)

In [20]:
df_clean.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2407259 entries, 0 to 2506982
Data columns (total 14 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   duration_sec             2407259 non-null  int64
 1   start_time               2407259 non-null  datetime64[ns]
 2   end_time                 2407259 non-null  datetime64[ns]
 3   start_station_id         2407259 non-null  float64
 4   start_station_name       2407259 non-null  object
 5   start_station_latitude   2407259 non-null  float64
 6   start_station_longitude  2407259 non-null  float64
 7   end_station_id           2407259 non-null  float64
 8   end_station_name         2407259 non-null  object
 9   end_station_latitude     2407259 non-null  float64
 10  end_station_longitude    2407259 non-null  float64
 11  bike_id                  2407259 non-null  int64
 12  user_type                2407259 non-null  object
 13  start_time_month         2407259 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(2), object(4)
memory usage: 275.5+ MB

In [21]:
df_clean['start_time_month'].unique()

array(['June', 'July', 'December', 'January', 'February', 'September',
       'October', 'April', 'May', 'March', 'November', 'August'],
      dtype=object)

In [23]:
df_clean.drop(['start_time_month'], axis=1, inplace=True);

In [24]:
df_clean.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2407259 entries, 0 to 2506982
Data columns (total 13 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   duration_sec             2407259 non-null  int64
 1   start_time               2407259 non-null  datetime64[ns]
 2   end_time                 2407259 non-null  datetime64[ns]
 3   start_station_id         2407259 non-null  float64
 4   start_station_name       2407259 non-null  object
 5   start_station_latitude   2407259 non-null  float64
 6   start_station_longitude  2407259 non-null  float64
 7   end_station_id           2407259 non-null  float64
 8   end_station_name         2407259 non-null  object
 9   end_station_latitude     2407259 non-null  float64
 10  end_station_longitude    2407259 non-null  float64
 11  bike_id                  2407259 non-null  int64
 12  user_type                2407259 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(2), object(3)
memory usage: 257.1+ MB

In [25]:
df_clean.to_csv('master_file_mk2.csv', index=False)

In [ ]:
# plt.figure(figsize = [15, 10])
g = sb.catplot(data=df_clean, x='start_time_month', hue="user_type", kind='count', sharey = False) # , kind='count', sharey = False
g.set_axis_labels("Month", "#Bike Trips")
g._legend.set_title('User Type')
g.set_titles("{col_name}")
plt.xticks(rotation = 40);
g.fig.suptitle('Monthly usage of the bike share system per user type and gender', y=1.03, fontsize=14, fontweight='semibold');

In [ ]:
plt.figure(figsize = [10, 5])
g = sb.catplot(data=df_clean, x='start_time_weekday', hue="user_type", kind='count', sharey = False) # , kind='count', sharey = False
g.set_axis_labels("Month", "#Bike Trips")
g._legend.set_title('User Type')
g.set_titles("{col_name}")
plt.xticks(rotation = 40);
g.fig.suptitle('Monthly usage of the bike share system per user type and gender', y=1.03, fontsize=14, fontweight='semibold');

In [ ]:
plt.figure(figsize = [20, 10])

d = {'color': ['r', 'b']}
g2 = sb.FacetGrid(data = df_new, hue = 'user_type', height = 4, aspect = 3, palette='Set1') # col_wrap = 1,
g2.fig.suptitle('Trip duration in per user type', y = 1.1, fontsize = 18, fontweight='semibold');

g2 = g2.map(sb.barplot, 'start_weekday',  'duration_min');
g2.set_titles('{col_name}', fontsize = 14, fontweight = 'semibold', y = 0.5);

In [ ]:
plt.figure(figsize = [10, 5])
g = sb.countplot(data=df_new, x='start_month', hue="user_type") 
plt.xticks(rotation = 40);
plt.xlabel('Month');
plt.ylabel('No. of Rides')
plt.title("monthly usage per user type", fontweight = 'semibold');
# The bike share system was used more often by subscribers in months of March, October and April with a drop in usage from October to January(maybe due to winter). Casual customers use bike sharing more in months of December and October.